### Reading the data

Name of the code:               MT_01_Reading_the_data

Date of creating file:          12.10.2023

Author:                         Marcin Stasiak

Tables created and saved 
in the code:                    dataframe_v01

Description: 

The aim of the code is to:

    - Reading the Fannie Mae data from .csv
    - Save the data in .pickle format 
    - Get basic information about the data

Import of useful libraries

In [1]:
import pandas as pd
import pickle
import gzip
import time
import os

View settings - display all columns and 10 rows

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 10)

Path to the CSV file

In [6]:
file_path = "C:\\Users\\Marcin.Stasiak\\Desktop\\studia\\Praca magisterska\\Dane\\FNMA_MF_Loan_Performance_Data_202306.csv"

Read .csv data into a DataFrame

In [7]:
dataframe_v01 = pd.read_csv(file_path, sep=',', low_memory=False)

Display the DataFrame

In [8]:
dataframe_v01

,Loan Number,Acquisition Date,Note Date,Maturity Date at Acquisition,Loan Acquisition UPB,Amortization Type,Interest Type,Loan Product Type,Original UPB,Amortization Term,Original Interest Rate,Lien Position,Transaction ID,Issue Date,Loan Acquisition LTV,Underwritten DSCR,Underwritten DSCR Type,Original Term,Original I/O Term,I/O End Date,Loan Ever 60+ Days Delinquent,Loss Sharing Type,Modified Loss Sharing Percentage,Number of Properties at Acquisition,Property Acquisition Total Unit Count,Specific Property Type,Year Built,Property City,Property State,Property Zip Code,Metropolitan Statistical Area,Physical Occupancy %,Liquidation/Prepayment Code,Liquidation/Prepayment Date,Foreclosure Date,Credit Event Date,Foreclosure Value,Lifetime Net Credit Loss Amount,Sale Price,Default Amount,Credit Event Type,Reporting Period Date,Loan Active Property Count,Note Rate,Maturity Date - Current,UPB - Current,Delinquency UPB,Loan Payment Status,SDQ Indicator,Most Recent Modification Date,Modification Indicator,Defeasance Date,Prepayment Provision,Prepayment Provision End Date,Affordable Housing Type,MCIRT Deal ID,MCAS Deal ID,DUS Prepayment Outcomes,DUS Prepayment Segments,Loan Age,Green Bond Indicator,Social Bond Indicator
0,140296,2000-10-31,1985-07-16,2001-08-10,"$82,501.71",NaN,ARM,DUS,"$82,501.71",NaN,5.196,First,NaN,NaN,50.0,NaN,NaN,360,NaN,NaN,Y,NaN,NaN,1.0,4.0,Multifamily,NaN,SAN DIEGO,CA,92102,"SAN DIEGO-CHULA VISTA-CARLSBAD, CA METROPOLITA...",0.0,"Fully Paid, Prepaid",2000-09-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001-01-01,1.0,5.61,2001-08-10,"$82,501.71",NaN,90+ Days Delinquent,Y,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,140296,2000-10-31,1985-07-16,2001-08-10,"$82,501.71",NaN,ARM,DUS,"$82,501.71",NaN,5.196,First,NaN,NaN,50.0,NaN,NaN,360,NaN,NaN,Y,NaN,NaN,1.0,4.0,Multifamily,NaN,SAN DIEGO,CA,92102,"SAN DIEGO-CHULA VISTA-CARLSBAD, CA METROPOLITA...",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-11-01,1.0,NaN,2001-08-10,"$82,501.71",NaN,Current,N,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,140296,2000-10-31,1985-07-16,2001-08-10,"$82,501.71",NaN,ARM,DUS,"$82,501.71",NaN,5.196,First,NaN,NaN,50.0,NaN,NaN,360,NaN,NaN,Y,NaN,NaN,1.0,4.0,Multifamily,NaN,SAN DIEGO,CA,92102,"SAN DIEGO-CHULA VISTA-CARLSBAD, CA METROPOLITA...",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-12-01,1.0,NaN,2001-08-10,"$82,501.71",NaN,Current,N,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,140296,2000-10-31,1985-07-16,2001-08-10,"$82,501.71",NaN,ARM,DUS,"$82,501.71",NaN,5.196,First,NaN,NaN,50.0,NaN,NaN,360,NaN,NaN,Y,NaN,NaN,1.0,4.0,Multifamily,NaN,SAN DIEGO,CA,92102,"SAN DIEGO-CHULA VISTA-CARLSBAD, CA METROPOLITA...",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-10-01,1.0,NaN,2001-08-10,"$82,501.71",NaN,Current,N,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,140297,2000-10-31,1985-07-18,2001-08-10,"$548,872.98",NaN,ARM,DUS,"$548,872.98",NaN,5.196,First,NaN,NaN,50.0,NaN,NaN,360,NaN,NaN,Y,NaN,NaN,1.0,2.0,Multifamily,NaN,SAN DIEGO,CA,92116,"SAN DIEGO-CHULA VISTA-CARLSBAD, CA METROPOLITA...",0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-11-01,1.0,NaN,2000-08-10,"$205,598.07",NaN,Current,N,NaN,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4467302,8300008176,2021-02-25,2021-02-25,2051-02-01,"$16,400,000.00",Interest Only/Amortizing/Balloon,Fixed,Non-DUS,"$16,400,000.00",480.0,4.130,First,NaN,NaN,62.4,1.18,UW DSCR NCF,360,24.0,2023-02-01,N,Pari Passu,NaN,1.0,102.0,Multifamily,1925,NEW YORK,NY,10027,"NEW YORK-NEWARK-JERSEY CITY, NY-NJ-PA METROPOL...",95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-01-01,1.0,4.13,2051-02-01,"$16,400,000.00",NaN,Current,N,NaN,N,NaN,"5%(84), 4%(24), 3%(24), 2%(24), 1%(24), O*(180)",NaN,Project Based HAP/Sec 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4467303,8300008176,2021-02-25,2021-02-25,2051-02-01,"$16,400,000.00",Interest Only/Amortizing/Balloon,Fixed,Non-DUS,"$16,400,000.00",480.0,4.130,First,NaN,NaN,62.4,1.18,UW DSCR NCF,360,24.0,2023-02-01,N,Pari Passu,NaN,1.0,102.0,Multifamily,1925,NEW YORK,NY,10027,"NEW YORK-NEWARK-JERSEY CITY, NY-NJ-PA METROPOL...",95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-06-01,1.0,4.13,2051-02-01,"$16,400,000.00",NaN,Current,N,NaN,N,NaN,"5%(84), 4%(24), 3%(24), 2%(24), 1%(24), O*(180)",NaN,Project Based HAP/Sec 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4467304,8300008176,2021-02-25,2021-02-25,2051-02-01,"$16,400,000.00",Interest Only/Amortizing/Balloon,Fixed,Non-DUS,"$16,400,000.00",480.0,4.130,First,NaN,NaN,62.4,1.18,UW DSCR NCF,360,24.0,2023-02-01,N,Pari Passu,NaN,1.0,102.0,Multifamily,1925,NEW YORK,NY,10027,"NEW YORK-NEWARK-JERSEY CITY, NY-NJ-PA METROPOL...",95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-10-01,1.0,4.13,2051-02-01,"$16,400,000.00",NaN,Current,N,NaN,N,NaN,"5%(84), 4%(24), 3%(24), 2%(24), 1%(24), O*(180)",NaN,Project Based HAP/Sec 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4467305,8300008176,2021-02-25,2021-02-25,2051-02-01,"$16,400,000.00",Interest Only/Amortizing/Balloon,Fixed,Non-DUS,"$16,400,000.00",480.0,4.130,First,NaN,NaN,62.4,1.18,UW DSCR NCF,360,24.0,2023-02-01,N,Pari Passu,NaN,1.0,102.0,Multifamily,1925,NEW YORK,NY,10027,"NEW YORK-NEWARK-JERSEY CITY, NY-NJ-PA METROPOL...",95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-03-01,1.0,4.13,2051-02-01,"$16,400,000.00",NaN,Current,N,NaN,N,NaN,"5%(84), 4%(24), 3%(24), 2%(24), 1%(24), O*(180)",NaN,Project Based HAP/Sec 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4467306,8300008176,2021-02-25,2021-02-25,2051-02-01,"$16,400,000.00",Interest Only/Amortizing/Balloon,Fixed,Non-DUS,"$16,400,000.00",480.0,4.130,First,NaN,NaN,62.4,1.18,UW DSCR NCF,360,24.0,2023-02-01,N,Pari Passu,NaN,1.0,102.0,Multifamily,1925,NEW YORK,NY,10027,"NEW YORK-NEWARK-JERSEY CITY, NY-NJ-PA METROPOL...",95.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-04-01,1.0,4.13,2051-02-01,"$16,400,000.00",NaN,Current,N,NaN,N,NaN,"5%(84), 4%(24), 3%(24), 2%(24), 1%(24), O*(180)",NaN,Project Based HAP/Sec 8,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Specify the path where the pickle file will be saved

In [9]:
pickle_file_path = "C:\\Users\\Marcin.Stasiak\\Desktop\\studia\\Praca magisterska\\Dane\\dataframe_v01.pkl"

Check if the file exists, if it does, delete it

In [14]:
if os.path.exists(pickle_file_path):
    os.remove(pickle_file_path)
    print(f"Existing file at {pickle_file_path} has been deleted.")

Existing file at C:\Users\Marcin.Stasiak\Desktop\studia\Praca magisterska\Dane\dataframe_v01.pkl has been deleted.

Save DataFrame to pickle

In [15]:
dataframe_v01.to_pickle(pickle_file_path)

print(f"Data has been saved to {pickle_file_path}")

Data has been saved to C:\Users\Marcin.Stasiak\Desktop\studia\Praca magisterska\Dane\dataframe_v01.pkl

View settings - display all columns and all rows

In [16]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

Display basic information about the DataFrame
(4467307 rows, 62 columns)

In [17]:
info_df = pd.DataFrame(dataframe_v01.dtypes, columns=['Data Type'])
info_df['Non-Null Count'] = dataframe_v01.count()
info_df['Missing Values Count'] = dataframe_v01.isnull().sum()
info_df['Non-Missing Values Percentage'] = (info_df['Non-Null Count'] / len(dataframe_v01)) * 100
info_df['Unique Count'] = dataframe_v01.nunique()
info_df.reset_index(inplace=True)
info_df = info_df.rename(columns={'index': 'Column Name'})
print("DataFrame Info:")
info_df

DataFrame Info:

,Column Name,Data Type,Non-Null Count,Missing Values Count,Non-Missing Values Percentage,Unique Count
0,Loan Number,int64,4467307,0,100.000000,65069
1,Acquisition Date,object,4467307,0,100.000000,5303
2,Note Date,object,4467307,0,100.000000,5874
3,Maturity Date at Acquisition,object,4467307,0,100.000000,586
4,Loan Acquisition UPB,object,4467307,0,100.000000,24677
5,Amortization Type,object,4467299,8,99.999821,5
6,Interest Type,object,4467307,0,100.000000,2
7,Loan Product Type,object,4467307,0,100.000000,4
8,Original UPB,object,4467307,0,100.000000,21219
9,Amortization Term,float64,4379525,87782,98.035013,223
10,Original Interest Rate,float64,4467307,0,100.000000,2952
11,Lien Position,object,4467211,96,99.997851,4
12,Transaction ID,object,3994612,472695,89.418793,55815
13,Issue Date,object,3991616,475691,89.351728,282
14,Loan Acquisition LTV,float64,4467114,193,99.995680,2336
15,Underwritten DSCR,float64,4466487,820,99.981644,1015
16,Underwritten DSCR Type,object,4466487,820,99.981644,4
17,Original Term,int64,4467307,0,100.000000,282
18,Original I/O Term,float64,1609840,2857467,36.036028,156
19,I/O End Date,object,1611143,2856164,36.065195,421
20,Loan Ever 60+ Days Delinquent,object,4467307,0,100.000000,2
21,Loss Sharing Type,object,4299892,167415,96.252440,3
22,Modified Loss Sharing Percentage,float64,197565,4269742,4.422463,63
23,Number of Properties at Acquisition,float64,4398372,68935,98.456900,26
24,Property Acquisition Total Unit Count,float64,4372284,95023,97.872924,912
25,Specific Property Type,object,4467307,0,100.000000,8
26,Year Built,object,4467299,8,99.999821,182
27,Property City,object,4467307,0,100.000000,3760
28,Property State,object,4467307,0,100.000000,54
29,Property Zip Code,object,4467307,0,100.000000,8609
30,Metropolitan Statistical Area,object,4467307,0,100.000000,389
31,Physical Occupancy %,float64,4372284,95023,97.872924,381
32,Liquidation/Prepayment Code,object,38697,4428610,0.866227,11
33,Liquidation/Prepayment Date,object,38697,4428610,0.866227,3507
34,Foreclosure Date,object,644,4466663,0.014416,425
35,Credit Event Date,object,701,4466606,0.015692,485
36,Foreclosure Value,object,728,4466579,0.016296,484
37,Lifetime Net Credit Loss Amount,object,701,4466606,0.015692,676
38,Sale Price,object,579,4466728,0.012961,422
39,Default Amount,object,671,4466636,0.015020,666
40,Credit Event Type,object,44234,4423073,0.990171,2
41,Reporting Period Date,object,4467307,0,100.000000,282
42,Loan Active Property Count,float64,4390249,77058,98.275068,74
43,Note Rate,float64,4462946,4361,99.902380,7655
44,Maturity Date - Current,object,4467307,0,100.000000,597
45,UPB - Current,object,4467307,0,100.000000,3253015
46,Delinquency UPB,object,20013,4447294,0.447988,6667
47,Loan Payment Status,object,4467307,0,100.000000,4
48,SDQ Indicator,object,4467307,0,100.000000,2
49,Most Recent Modification Date,object,38530,4428777,0.862488,243
50,Modification Indicator,object,4467307,0,100.000000,2
51,Defeasance Date,object,14680,4452627,0.328610,226
52,Prepayment Provision,object,4444995,22312,99.500549,1884
53,Prepayment Provision End Date,object,3351545,1115762,75.023834,3531
54,Affordable Housing Type,object,234976,4232331,5.259903,9
55,MCIRT Deal ID,object,569062,3898245,12.738368,12
56,MCAS Deal ID,object,29325,4437982,0.656436,2
57,DUS Prepayment Outcomes,object,3711073,756234,83.071815,8
58,DUS Prepayment Segments,object,3711109,756198,83.072621,5
59,Loan Age,float64,2562576,1904731,57.362881,240
60,Green Bond Indicator,object,3989765,477542,89.310294,2
61,Social Bond Indicator,object,153023,4314284,3.425397,2

Display statistical information about the DataFrame

In [18]:
# Display statistical information about the DataFrame
print("\nDataFrame Description:")
dataframe_v01.describe(include='all')

DataFrame Description:

,Loan Number,Acquisition Date,Note Date,Maturity Date at Acquisition,Loan Acquisition UPB,Amortization Type,Interest Type,Loan Product Type,Original UPB,Amortization Term,Original Interest Rate,Lien Position,Transaction ID,Issue Date,Loan Acquisition LTV,Underwritten DSCR,Underwritten DSCR Type,Original Term,Original I/O Term,I/O End Date,Loan Ever 60+ Days Delinquent,Loss Sharing Type,Modified Loss Sharing Percentage,Number of Properties at Acquisition,Property Acquisition Total Unit Count,Specific Property Type,Year Built,Property City,Property State,Property Zip Code,Metropolitan Statistical Area,Physical Occupancy %,Liquidation/Prepayment Code,Liquidation/Prepayment Date,Foreclosure Date,Credit Event Date,Foreclosure Value,Lifetime Net Credit Loss Amount,Sale Price,Default Amount,Credit Event Type,Reporting Period Date,Loan Active Property Count,Note Rate,Maturity Date - Current,UPB - Current,Delinquency UPB,Loan Payment Status,SDQ Indicator,Most Recent Modification Date,Modification Indicator,Defeasance Date,Prepayment Provision,Prepayment Provision End Date,Affordable Housing Type,MCIRT Deal ID,MCAS Deal ID,DUS Prepayment Outcomes,DUS Prepayment Segments,Loan Age,Green Bond Indicator,Social Bond Indicator
count,4.467307e+06,4467307,4467307,4467307,4467307,4467299,4467307,4467307,4467307,4.379525e+06,4.467307e+06,4467211,3994612,3991616,4.467114e+06,4.466487e+06,4466487,4.467307e+06,1.609840e+06,1611143,4467307,4299892,197565.000000,4.398372e+06,4.372284e+06,4467307,4467299,4467307,4467307,4467307,4467307,4.372284e+06,38697,38697,644,701,728,701,579,671,44234,4467307,4.390249e+06,4.462946e+06,4467307,4467307,20013,4467307,4467307,38530,4467307,14680,4444995,3351545,234976,569062,29325,3711073,3711109,2.562576e+06,3989765,153023
unique,NaN,5303,5874,586,24677,5,2,4,21219,NaN,NaN,4,55815,282,NaN,NaN,4,NaN,NaN,421,2,3,NaN,NaN,NaN,8,182,3760,54,8609,389,NaN,11,3507,425,485,484,676,422,666,2,282,NaN,NaN,597,3253015,6667,4,2,243,2,226,1884,3531,9,12,2,8,5,NaN,2,2
top,NaN,2000-12-01,2000-10-01,2023-01-01,"$3,000,000.00",Amortizing Balloon,Fixed,DUS,"$3,000,000.00",NaN,NaN,First,AM4065,2010-12-01,NaN,NaN,Lender UW DSCR,NaN,NaN,2018-06-01,N,Pari Passu,NaN,NaN,NaN,Multifamily,1972,LOS ANGELES,CA,Multiple Properties,"LOS ANGELES-LONG BEACH-ANAHEIM, CA METROPOLITAN STATISTICAL AREA",NaN,"Fully Paid, Prepaid",2020-04-30,2013-07-29,2013-11-06,"$2,700,000.00",$0.00,"$1,150,000.00",$0.00,REO,2021-05-01,NaN,NaN,2023-01-01,"$5,000,000.00","$1,587,200.00",Current,N,2011-08-01,N,2004-11-30,"YM(114), See Issuance Documents(6)","YM(06/30/2022), See Issuance Documents(01/01/2023)",Other,MCIRT 2017-01,MCAS 2019-01,Paid Prior to Yield Maintenance End Date,Standard,NaN,N,N
freq,NaN,18463,11649,36150,41969,2582463,4156278,4210297,47107,NaN,NaN,4156669,4403,51749,NaN,NaN,2427139,NaN,NaN,12224,4333182,2154251,NaN,NaN,NaN,3774000,155993,127604,997075,95023,506674,NaN,34268,191,11,12,9,26,6,6,38526,26524,NaN,NaN,36146,7856,118,4446987,4452058,4972,4428777,455,1473372,29502,83887,84966,18541,1338201,3235460,NaN,3764051,118039
mean,3.183780e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.204088e+02,5.133914e+00,NaN,NaN,NaN,6.476966e+01,1.772597e+00,NaN,1.340325e+02,6.520418e+01,NaN,NaN,NaN,48.794668,1.027514e+00,1.544494e+02,NaN,NaN,NaN,NaN,NaN,NaN,9.101432e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.210265e+00,5.135010e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.809292e+01,NaN,NaN
std,2.697763e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.080321e+02,1.230493e+00,NaN,NaN,NaN,1.550982e+01,1.767813e+00,NaN,5.630213e+01,4.089642e+01,NaN,NaN,NaN,21.128293,6.737169e-01,1.821967e+02,NaN,NaN,NaN,NaN,NaN,NaN,1.662364e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.473707e+00,1.223389e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.597914e+01,NaN,NaN
min,1.402960e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,1.222000e+00,NaN,NaN,NaN,0.000000e+00,3.900000e-01,NaN,1.100000e+01,0.000000e+00,NaN,NaN,NaN,0.000000,1.000000e+00,2.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,2.592000e-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.000000e+00,NaN,NaN
25%,1.713288e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.600000e+02,4.230000e+00,NaN,NaN,NaN,5.770000e+01,1.270000e+00,NaN,1.200000e+02,3.200000e+01,NaN,NaN,NaN,25.000000,1.000000e+00,5.300000e+01,NaN,NaN,NaN,NaN,NaN,NaN,9.220000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,4.230000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.500000e+01,NaN,NaN
50%,1.717466e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.600000e+02,5.140000e+00,NaN,NaN,NaN,6.870000e+01,1.400000e+00,NaN,1.200000e+02,6.000000e+01,NaN,NaN,NaN,50.000000,1.000000e+00,1.140000e+02,NaN,NaN,NaN,NaN,NaN,NaN,9.500000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,5.140000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.050000e+02,NaN,NaN
75%,1.720007e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.600000e+02,5.950000e+00,NaN,NaN,NaN,7.500000e+01,1.760000e+00,NaN,1.200000e+02,1.140000e+02,NaN,NaN,NaN,75.000000,1.000000e+00,2.130000e+02,NaN,NaN,NaN,NaN,NaN,NaN,9.500000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,5.950000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.180000e+02,NaN,NaN
max,8.300008e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.400000e+02,9.800000e+00,NaN,NaN,NaN,2.762000e+02,8.572000e+01,NaN,4.800000e+02,3.000000e+02,NaN,NaN,NaN,100.000000,1.050000e+02,1.124600e+04,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.300000e+02,1.162000e+01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.630000e+02,NaN,NaN

Create a new DataFrame to store columns with less than 55 unique values and their unique values

In [21]:
unique_values_df = pd.DataFrame(columns=['Column Name', 'Unique Values'])

# Populate the DataFrame with columns having less than 55 unique values
for column in dataframe_v01.columns:
    if dataframe_v01[column].nunique() < 55:
        unique_values = dataframe_v01[column].unique()
        unique_values_df = unique_values_df.append({'Column Name': column, 'Unique Values': unique_values}, ignore_index=True)

print("Columns with Less Than 55 Unique Values:")
unique_values_df

# The number of unique values in the column "Property State" is 54.

Columns with Less Than 55 Unique Values:

,Column Name,Unique Values
0,Amortization Type,"[nan, Amortizing Balloon, Interest Only/Balloon, Fully Amortizing, Interest Only/Amortizing/Balloon, Interest Only/Fully Amortizing]"
1,Interest Type,"[ARM, Fixed]"
2,Loan Product Type,"[DUS, Credit Facility, Bulk Delivery, Non-DUS]"
3,Lien Position,"[First, Second, Third, Fourth or More Subordinate, nan]"
4,Underwritten DSCR Type,"[nan, Lender UW DSCR, UW Actual DSCR, UW DSCR NCF, Deal UW DSCR NCF]"
5,Loan Ever 60+ Days Delinquent,"[Y, N]"
6,Loss Sharing Type,"[nan, Pari Passu, Standard DUS, No Lender Loss Sharing]"
7,Number of Properties at Acquisition,"[1.0, nan, 7.0, 3.0, 25.0, 4.0, 2.0, 5.0, 8.0, 9.0, 24.0, 27.0, 6.0, 12.0, 10.0, 18.0, 15.0, 47.0, 82.0, 88.0, 105.0, 28.0, 56.0, 97.0, 20.0, 21.0, 22.0]"
8,Specific Property Type,"[Multifamily, Multiple Properties, Seniors, Cooperative, Dedicated Student, Manufactured Housing Community, Other, Military]"
9,Property State,"[CA, TX, FL, GA, OH, IL, NV, WA, VA, KS, CO, MD, AZ, IN, Multiple Properties, PA, DC, NC, MO, MI, MN, NJ, NE, MA, TN, OK, OR, ME, LA, WI, NH, KY, NY, UT, AL, NM, MS, ND, CT, IA, SC, VT, SD, MT, RI, ID, AR, WV, WY, HI, DE, AK, VI, PR]"
10,Liquidation/Prepayment Code,"[Fully Paid, Prepaid, nan, Fully Paid, Matured, Third Party Sale, Fully Paid, Refinanced, Foreclosure, Dissolution, Other Liquidation, Discounted Payoff, Repurchase, Deed-in-Lieu, Substitution]"
11,Credit Event Type,"[nan, Non-REO, REO]"
12,Loan Payment Status,"[90+ Days Delinquent, Current, 60-89 Days Delinquent, 30-59 Days Delinquent]"
13,SDQ Indicator,"[Y, N]"
14,Modification Indicator,"[N, Y]"
15,Affordable Housing Type,"[nan, Other, Project Based HAP/Sec 8, LIHTC, Multiple Properties, LIHTC & Project Based HAP/Sec 8, Non MAH, Other - Sponsor Initiated Affordability, Other - Special Public Purpose, Other - Sponsor-Dedicated Workforce]"
16,MCIRT Deal ID,"[nan, MCIRT 2016-01, MCIRT 2017-01, MCIRT 2018-01, MCIRT 2018-02, MCIRT 2019-01, MCIRT 2019-02, MCIRT 2019-03, MCIRT 2020-01, MCIRT 2021-01, MCIRT 2021-02, MCIRT 2022-01, MCIRT 2023-01]"
17,MCAS Deal ID,"[nan, MCAS 2019-01, MCAS 2020-01]"
18,DUS Prepayment Outcomes,"[nan, Paid Prior to Yield Maintenance End Date, Involuntary Prepayment, Paid On or After Yield Maintenance End Date, Active, Other, Paid Prior to Declining Premium End Date, Paid On or After Lock Out End Date, Paid Prior to Lock Out End Date]"
19,DUS Prepayment Segments,"[nan, Standard, NonStandard, Fixed Rate, Declining Premium, SARM, ARM 7-6]"
20,Green Bond Indicator,"[nan, N, Y]"
21,Social Bond Indicator,"[nan, N, Y]"

Create a new DataFrame for columns with less than 80% non-missing values

In [22]:
columns_less_than_80_df = info_df.loc[info_df['Non-Missing Values Percentage'] < 80, ['Column Name', 'Non-Missing Values Percentage']]

print("\nDataFrame of Columns with Less Than 80% Non-Missing Values:")
columns_less_than_80_df

DataFrame of Columns with Less Than 80% Non-Missing Values:

                         Column Name  Non-Missing Values Percentage
18                 Original I/O Term                      36.036028
19                      I/O End Date                      36.065195
22  Modified Loss Sharing Percentage                       4.422463
32       Liquidation/Prepayment Code                       0.866227
33       Liquidation/Prepayment Date                       0.866227
34                  Foreclosure Date                       0.014416
35                 Credit Event Date                       0.015692
36                 Foreclosure Value                       0.016296
37   Lifetime Net Credit Loss Amount                       0.015692
38                        Sale Price                       0.012961
39                    Default Amount                       0.015020
40                 Credit Event Type                       0.990171
46                   Delinquency UPB                       0.447988
49     Most Recent Modification Date                       0.862488
51                   Defeasance Date                       0.328610
53     Prepayment Provision End Date                      75.023834
54           Affordable Housing Type                       5.259903
55                     MCIRT Deal ID                      12.738368
56                      MCAS Deal ID                       0.656436
59                          Loan Age                      57.362881
61             Social Bond Indicator                       3.425397